<%= @event.name %>
<%= simple_format(@event.description) %>

<p>
	<% @event.groups.each do |g| %>
		<%= g.name %>
	<% end %>
</p>

<p>Category: <%= @event.category.try :name %><p>

<p><%= link_to 'Back to index', events_path %></p>